/* common */
.btn {
    padding: 4px 10px;
    font-weight: 500;
}
.btn-check:focus+.btn, .btn:focus {
    box-shadow: none;
}
.btn-check:active+.btn-secondary:focus, .btn-check:checked+.btn-secondary:focus, .btn-secondary.active:focus, .btn-secondary:active:focus, .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}
.c_pointer {
    cursor: pointer;
}
/* typo */
body {
    font-family: 'Raleway', sans-serif;
}
/* header */
header {
    z-index: 10;
    font-weight: 500;
}
/* header top */
.header_top {
    background-color: #000;
    padding: 12px;
}
.header_top img {
    height: 15px;
    cursor: pointer;
}
/* header bottom */
.lens {
    height: 25px;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-size: 17px;
}
.header_bottom .dropdown-toggle::after {
	content: url('../img/chevron-down-solid.svg');
	border: none;
	display: inline-block;
    width: 10px;
    vertical-align: middle;
}
.header_bottom .btn-secondary {
    background-color: #363636;
    border: 2px solid #363636;
    box-shadow: 0 0 0 2px #363636;
}
.btn-secondary:hover {
    border-color: #fff;
}

/* main */
main {
    padding-top: 115px;
}
/* hero */
/* hero top */
.hero_top {
    height: 590px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: bottom center;
}
.hero_top img {
    height: 40px;
}
.hero_top .btn-secondary, .new_games_top .btn-secondary {
    background-color: #cd3d0f;
    border: 2px solid #cd3d0f;
    box-shadow: 0 0 0 2px #cd3d0f;
}
.hero_top .btn-secondary:hover, .new_games_top .btn-secondary:hover {
    border-color: #000;
}
/* hero bottom */
.hero_thumb {
	margin-top: 24px;
	padding: 3px;
	border-radius: 20px;
}
.hero_thumb a {
    display: inline-block;
}
.hero_thumb img:hover {
    transform: translateY(-10px);
}
.hero_thumb img {
    border-radius: 20px;
    transition: transform 0.5s;
    padding: 3px;
}
.hero_thumb_active img {
	box-shadow: 0px 0px 0px 2px #0072ce;
}

/* ps5 */
.ps5 {
    padding: 100px 0 35px;
}
.slogan {
    color: #0072ce;
}
.ps5 .btn-secondary, .ps4 .btn-secondary {
    background-color: #2d64e6;
    border: 2px solid #2d64e6;
    box-shadow: 0 0 0 2px #2d64e6;
}
.ps5 .btn-secondary:hover, .ps4 .btn-secondary:hover {
    border-color: #fff;
}
.ps5_item {
    text-align: center;
}
.ps5_item a {
    color: #000;
    text-decoration: none;
}
.ps5_item:not(:first-child) {
    opacity: 0.7;
    transition: opacity 0.3s;
}
.ps5_item:hover {
    opacity: 1;
}
.ps5_item > div {
    height: 100%;
}
.ps5_item img {
    width: 100%;
}
.ps5_item .caption {
    display: none;
    font-weight: 500;
}
.ps5_item_active {
    border-bottom: 2px solid #0072ce;
}
/* new games */
/* new games top */
.new_games_top {
    height: 600px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: 50% 35%;
}
.new_games_top img {
    height: 200px;
}
/* new games bottom */
.new_games_bottom {
    background-color: #1f1f1f;
}
.ng_thumb {
    text-decoration: none;
    color: #fff;
}
.ng_thumb:hover {
    color: #fff;
}
.ng_thumb img {
    width: 100%;
    border-radius: 20px;
}
.ng_thumb .caption {
    font-size: 15px;
    margin-top: 15px;
    font-weight: 500;
}
/* ps4 */
.ps4 {
    padding: 100px 0 110px;
}
.ps4 img, .sale img {
    width: 100%;
}
/* ps plus, ps now */
.ps_plus, .ps_now {
    height: 305px;
    background-color: #bebcbb;
}
.ps_now {
    background-color: #161c3b;
}
.psp_logo, .psn_logo {
    height: 50px;
}
.ps_plus p, .ps_now p {
    font-size: 15px;
}
.ps_plus .btn-secondary {
    background-color: #d9dadc;
    color: #2d64e6;
    border: 2px solid #d9dadc;
    box-shadow: 0 0 0 2px #d9dadc;
}
.ps_plus .btn-secondary:hover {
    box-shadow: 0 0 3px 2px #d9dadc;
}
.ps_now .btn-secondary {
    background-color: #f5f5f5;
    border: 2px solid #f5f5f5;
    box-shadow: 0 0 0 2px #f5f5f5;
}
.ps_now .btn-secondary:hover {
    border-color: #000;
}
/* sale */
.sale, .social {
    padding: 85px 0 80px;
}
/* social */
.social img {
    width: 100%;
    margin-top: 50px;
}

/* footer */
footer {
    background-color: #00439c;
    padding: 80px 0 90px;
}
footer li {
    margin-bottom: 22px;
}
footer a {
    color: #fff;
    text-decoration: none;
}
footer a:hover {
    color: #fff;
}
.logo_ps {
    height: 75px;
    margin-bottom: 40px;
}
.region {
    margin-bottom: 60px;;
}
.region img {
    height: 22px;
}
.sie_logo {
    height: 50px;
    margin-bottom: 
    18px;
}
footer p a {
    text-decoration: underline;
}